@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

html, body {
  height: 100%;
}

.full-width {
  width: 100%;
}

.user-select-none {
  user-select: none;
}

.cursor-pointer {
  cursor: pointer !important;
}

.flex {
  display: flex;
}

.flex.column {
  flex-direction: column;
}

.inactive-row {
  background-color: var(--v-inactive-base);
}
